﻿@model ContaPizzaWeb.Models.FuncionarioModels

@{
    ViewBag.Title = "Create";
}

<h2>Registrar Funcionário</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FuncionarioModels</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Funcionario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Funcionario)
            @Html.ValidationMessageFor(model => model.Funcionario)
        </div>
        <br/>
        <p>
            <input type="submit" value="Registrar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
