﻿@model ContaPizzaWeb.Models.FuncionarioModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>FuncionarioModels</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Funcionario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Funcionario)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdFunc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
