﻿@model IEnumerable<ContaPizzaWeb.Models.FuncionarioModels>

@{
    ViewBag.Title = "Index";
}

<h2>
    @Html.ActionLink("ContaPizza", "Index", "Admin") |
    @Html.ActionLink("Atrasos", "Index", "Atrasos") |
    @Html.ActionLink("Funcionários", "Index", "Funcionarios") |
    @Html.ActionLink("Motivos", "Index", "Motivos") |
    @Html.ActionLink("Histórico", "Index", "Historico")
</h2>
<h3>@Html.ActionLink("Adicionar Funcionário", "Create")</h3>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario)
            </td>
            <td>
                @Html.ActionLink("Deletar", "Delete", new { id = item.IdFunc })
            </td>
        </tr>
    }

</table>
