﻿@using System.ComponentModel.DataAnnotations
@using System.Data.Entity.ModelConfiguration.Conventions
@using System.Drawing
@using System.Web.Mvc.Html
@using Microsoft.SqlServer.Server
@model ContaPizzaWeb.Models.PizzaModels

@{
    ViewBag.Title = "ContaPizza";
}

<h2>Registrar Pizza</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PizzaModels</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegData)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegData)
            @Html.ValidationMessageFor(model => model.RegData)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdFunc, "Funcionário")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdFunc", String.Empty)
            @Html.ValidationMessageFor(model => model.IdFunc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdMot, "Motivo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdMot", String.Empty)
            @Html.ValidationMessageFor(model => model.IdMot)
        </div>
        <br/>
        <p>
            <input type="submit" value="Registrar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
