﻿@model ContaPizzaWeb.Models.PizzaModels

@{
    ViewBag.Title = "ContaPizzaWeb";
}

<h3>Deseja dar baixa no registro selecionado?</h3>
<fieldset>
    <legend>PizzaModels</legend>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.RegData)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegData)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Func.Funcionario)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Func.Funcionario)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Mot.Motivo)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mot.Motivo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Pagar" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
