﻿@model ContaPizzaWeb.Models.PizzaModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PizzaModels</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegData)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegData)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Func.Funcionario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Func.Funcionario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mot.Motivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mot.Motivo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataPag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataPag)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdPizza }) |
    @Html.ActionLink("Back to List", "Index")
</p>
