﻿@model ContaPizzaWeb.Models.PizzaModels

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="table">
        <legend>PizzaModels</legend>

        @Html.HiddenFor(model => model.IdPizza)

        <div class="editor-label">
            @Html.LabelFor(model => model.RegData)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegData)
            @Html.ValidationMessageFor(model => model.RegData)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdFunc, "Func")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdFunc", String.Empty)
            @Html.ValidationMessageFor(model => model.IdFunc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdMot, "Mot")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdMot", String.Empty)
            @Html.ValidationMessageFor(model => model.IdMot)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataPag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataPag)
            @Html.ValidationMessageFor(model => model.DataPag)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
