﻿@model IEnumerable<ContaPizzaWeb.Models.PizzaModels>

@{
    ViewBag.Title = "ContaPizzas";
}

<h2>
    @Html.ActionLink("ContaPizza", "Index", "Admin") |
    @Html.ActionLink("Atrasos", "Index", "Atrasos") |
    @Html.ActionLink("Funcionários", "Index", "Funcionarios") |
    @Html.ActionLink("Motivos", "Index", "Motivos") |
    @Html.ActionLink("Histórico", "Index", "Historico")
</h2>
    <h3>@Html.ActionLink("Adicionar Pizza", "Create")</h3>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Func.Funcionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mot.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalhes)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Func.Funcionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mot.Motivo)
            </td>
            <td>
                <button id="toolTip Editar-Detalhes" class="btn btn-primary popover-show" title="Detalhes"
                        data-container="body" 
                        data-toggle="popover" 
                        data-idPizza="@item.IdPizza"
                        data-content="@item.Detalhes">
                    <a class="teste" href="#" data-toggle="modal" data-target="#myModal" style="text-decoration: none">?</a>
                </button>
            </td>
            <td>
                @Html.ActionLink("Pagar Pizza", "DeleteReg", new { @id=item.IdPizza })
            </td>
            <td>
                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Admin", new { @id=item.IdPizza})"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Detalhes</h4>
      </div>
      <div class="modal-body">
        <textarea style="resize:none; width:560px; height:100px" id="DetalhesMotivo" name="Detalhes"></textarea>
        <input type="hidden" id="IdPizza" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="AlterarDetalhes">Salvar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {


            $("a.teste").click(function () {
                var idPizza = $(this).parent().attr("data-idPizza");
                console.log(idPizza);
                $('#IdPizza').val(idPizza);
                $("#DetalhesMotivo").val($(this).parent().attr("data-content"));

            });

            $("#AlterarDetalhes").click(function () {
                var detalhes = $("#DetalhesMotivo").val();
                var idPizza = $("#IdPizza").val();
                $.ajax({
                    type: "POST",
                    url: "Admin/AtualizaDetalhes",
                    data: { 'IdPizza': idPizza, 'Detalhes': detalhes },
                    success: Sucesso,
                    dataType: 'json'
                });
            });            
        });
        function Sucesso(data) {
            if (data.Status == 200) {
                alert("Motivo atualizado com sucesso");
                location.reload();
            }
            else
                alert(data.Mensagem);
        }
    </script>
}
@section Estilo {
    <style type="text/css">
        a[data-toggle=modal]:link {text-decoration: none;color: #ffffff;background-color: #428bca}
        a[data-toggle=modal]:active {text-decoration: none;color: #ffffff;background-color: #428bca}
        a[data-toggle=modal]:visited {text-decoration: none;color: #ffffff;background-color: #428bca}
        a[data-toggle=modal]:hover {text-decoration: underline;color: #ffffff;background-color: #428bca}
        .btn-primary:hover,
        .btn-primary:focus,
        .btn-primary:active,
        .btn-primary.active {background-color: #428bca;border-color: #357ebd;}
    </style>
}
