﻿<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - ContaPizzaWeb</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("Estilo" , required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <a href="~/Index"><img src="~/Images/ContaPizzaWeb.png"/></a>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer style="position:fixed; height:20px; bottom:0px; left:0px; right:0px; margin-bottom:0px">
            <div class="content-wrapper">
                <div>
                    <p style="text-align:center">&copy; @DateTime.Now.Year - ContaPizzaWeb - Tec-Soft</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="/Scripts/bootstap/bootstrap.min.js"></script>
        <script src="/Scripts/bootstap/bootstrap-tooltip.js"></script>
        <script src="/Scripts/bootstap/bootstrap-popover.js"></script>

        @RenderSection("scripts", required: false)
        <script type="text/javascript" language="javascript">
            $(document).ready(function () {
                $("a#ApagarTudoAtrasos").click(function () {
                    if (confirm("Deseja realmente excluir todos os registros?")) {
                        $.get("/Atrasos/DeleteConfirmedAll?class=btn", function (retorno) {
                            if (retorno.toString() == "Sucesso") {
                                alert("Registros apagados com sucesso");
                                location.reload();
                            } else {
                                alert(retorno);
                            }
                        });
                    }
                });
                $("[data-toggle='popover']").popover();
            });
        </script>
        <script type="text/javascript">
            Date.prototype.toDateInputValue = (function () {
                var local = new Date(this);
                local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                return local.toJSON().slice(0, 10);
            });
            $(document).ready(function () {
                $("input[type='date']").val(new Date().toDateInputValue());
            });
        </script>
    </body>
</html>
