﻿@model IEnumerable<ContaPizzaWeb.Models.PizzaModels>

@{
    ViewBag.Title = "Histórico";
}

<h2>
    @Html.ActionLink("ContaPizza", "Index", "Admin") |
    @Html.ActionLink("Atrasos", "Index", "Atrasos") |
    @Html.ActionLink("Funcionários", "Index", "Funcionarios") |
    @Html.ActionLink("Motivos", "Index", "Motivos") |
    @Html.ActionLink("Histórico", "Index", "Historico")
</h2>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Func.Funcionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mot.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalhes)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Func.Funcionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mot.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPag)
        </td>
        <td>
            <button type="button" class="btn btn-primary popover-show" title="Detalhes"
                data-container="body" 
                    data-toggle="popover" 
                    data-content="@item.Detalhes">
                ?
            </button>
        </td>
    </tr>
}

</table>
