﻿@model ContaPizzaWeb.Models.AtrasosModels

@{
    ViewBag.Title = "Create";
}

<h2>Registrar Atraso</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AtrasosModels</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.DataAtraso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataAtraso)
            @Html.ValidationMessageFor(model => model.DataAtraso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdFunc, "Funcionário")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdFunc", String.Empty)
            @Html.ValidationMessageFor(model => model.IdFunc)
        </div>
        <br/>
        <p>
            <input type="submit" value="Registrar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
