﻿@model ContaPizzaWeb.Models.AtrasosModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AtrasosModels</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Func.Funcionario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Func.Funcionario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataAtraso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataAtraso)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdAtraso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
