﻿@model ContaPizzaWeb.Models.AtrasosModels

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AtrasosModels</legend>

        @Html.HiddenFor(model => model.IdAtraso)

        <div class="editor-label">
            @Html.LabelFor(model => model.IdFunc, "Func")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdFunc", String.Empty)
            @Html.ValidationMessageFor(model => model.IdFunc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataAtraso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataAtraso)
            @Html.ValidationMessageFor(model => model.DataAtraso)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
