﻿@model IEnumerable<ContaPizzaWeb.Models.AtrasosModels>

@{
    ViewBag.Title = "Atrasos";
}

<h2>
    @Html.ActionLink("ContaPizza", "Index", "Admin") |
    @Html.ActionLink("Atrasos", "Index", "Atrasos") |
    @Html.ActionLink("Funcionários", "Index", "Funcionarios") |
    @Html.ActionLink("Motivos", "Index", "Motivos") |
    @Html.ActionLink("Histórico", "Index", "Historico")
</h2>
<div>
<form style="float: left; width: 60%" >
    <h3>@Html.ActionLink("Registar Atraso", "Create")</h3>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Func.Funcionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAtraso)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Func.Funcionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAtraso)
                </td>
                <td>
                    @Html.ActionLink("Deletar Registro", "Delete", new { id=item.IdAtraso })
                </td>
            </tr>
        }
    </table>
    <p>
    <a class="btn" id="ApagarTudoAtrasos">Apagar Tudo</a>
</p>

</form>
<form style="float: right; width: 35%">
<h3>Atrasos por funcionário</h3>
<table class="table table-striped atrasos_por_funcionario">
    <tr>
        <th>
            Funcionário
        </th>
        <th>
            Quantidade de atrasos
        </th>
    </tr>
</table>
</form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.get("Atrasos/PegarAtrasosFuncionarios", function (retorno) {
            OrganizarRetorno(retorno);
        }, 'json');
    });
    function OrganizarRetorno(retorno) {
        var indice = $("table.atrasos_por_funcionario").html();
        for (var i in retorno) {
            classe = (retorno[i]["NumeroAtrasos"] == 3 || retorno[i]["NumeroAtrasos"] == "3") ? "style='color: red; font-weight:bold'" : "";
            indice += "<tr " + classe + "><td>" + retorno[i]["Nome"] + "</td><td>" + retorno[i]["NumeroAtrasos"] + "</td></tr>"
        }
        $("table.atrasos_por_funcionario").html(indice);
    }
</script>
