﻿ @model IEnumerable<ContaPizzaWeb.Models.PizzaModels>

@{
    ViewBag.Title = "ContaPizzaWeb";
}

<h2>ContaPizzaWeb</h2>
<div style="float: left; width: 60%" >
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Func.Funcionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mot.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalhes)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Func.Funcionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mot.Motivo)
        </td>
        <td>
            <button type="button" class="btn btn-primary popover-show" title="Detalhes"
                    data-container="body" 
                    data-toggle="popover" 
                    data-content="@Html.DisplayFor(modelItem => item.Detalhes)">
                    ?
            </button>
        </td>
    </tr>
}
</table>
</div> 
<div style="float: right; width: 35%; margin-top:-50px" >
<h3>Pizza por funcionários</h3>
<table class="table table-striped pizzas_por_funcionario">
    <tr>
        <th>
            Funcionário
        </th>
        <th>
            Quantidade de pizzas
        </th>
    </tr>
</table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.get("Index/PegarPizzaFuncionarios", function (retorno) {
            OrganizarRetorno(retorno);
        }, 'json');
    });
    function OrganizarRetorno(retorno) {
        var indice = $("table.pizzas_por_funcionario").html();
        for (var i in retorno) {
            indice += "<tr><td>" + retorno[i]["Nome"] + "</td><td>" + retorno[i]["NumeroPizzas"] + "</td></tr>"
        }
        $("table.pizzas_por_funcionario").html(indice);
    }
</script>