﻿@model ContaPizzaWeb.Models.MotivoModels

@{
    ViewBag.Title = "Motivos";
}

<h2>Adicionar Motivo</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MotivoModels</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Motivo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Motivo)
            @Html.ValidationMessageFor(model => model.Motivo)
        </div>
        <br/>
        <p>
            <input type="submit" value="Adicionar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
