﻿@model ContaPizzaWeb.Models.MotivoModels

@{
    ViewBag.Title = "ContaPizzaWeb";
}

<h3>Deseja realmente deletar esse registro?</h3>
<fieldset>
    <legend>MotivoModels</legend>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.Motivo)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Motivo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Deletar" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
