﻿@model ContaPizzaWeb.Models.MotivoModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MotivoModels</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Motivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Motivo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdMot }) |
    @Html.ActionLink("Back to List", "Index")
</p>
